extends layout

block content
  div.container
    if currentUser && currentUser.isMember
      div.messages.container
        if messages
          for message in messages
            div.message-container
              div
                h1.title= message.title 
                p.text= message.text
              div.message-detail-container
                div.avatar-username-container
                  div.avatar-message
                    a(href="/")
                      img(src=`/images/${message.user.avatar}.svg`)
                    p.username-message= message.user.username
                div.timestamp-container
                  p.timestamp-message= message.timestamp
                if currentUser.isAdmin
                  form(method="POST", action='/delete-message')
                    input(type="password" id="targetMessage", name="targetMessage" value=`${message._id}` style="display: none") 
                    button Delete  
    else
      div.messages.container
        if messages
          for message in messages
            div.message-container
              div
                h1.title= message.title 
                p.text= message.text
              div.message-detail-container
                div.avatar-username-container
                  div.avatar-message
                    img(src=`/images/default.svg`)
                    p.username-message anonymous

